<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <tr>
        <th>name</th>
        <th>role</th>
        <th>amount</th>
        <th>type</th>
        <th>generation</th>
        <th>contactnumber</th>

    </tr>

    <tr>
        <td>{{name}}</td>
        <td>{{role}}</td>
        <td>{{amount}}</td>
        <td>{{type}}</td>
        <td>{{generation}}</td>
        <td>{{contactnumber}}</td>
    </tr>

<!--    <tr>-->
<!--        -->
<!--        <th>amount</th>-->
<!--        <th>type</th>-->
<!--        <th>generation</th>-->
<!--        -->
<!--    </tr>-->

    {% for detailinfo in detail_list %}
    <tr>
        <td>{{detailinfo.name}}</td>
        <td>{{detailinfo.role}}</td>
        <td>{{detailinfo.amount}}</td>
        <td>{{detailinfo.type}}</td>
        <td>{{detailinfo.generation}}</td>
        <td>{{detailinfo.contactnumber}}</td>

    </tr>
    {% endfor %}
</table>
</body>
</html>