<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <table border="1">
      <tr>
          <th>id</th>
          <th>amount</th>
          <th>type</th>
          <th>generation</th>
      </tr>
      {% for detailinfo in detail_spec %}
      <tr>
          <td>{{detailinfo.id}}</td>
          <td>{{detailinfo.amount}}</td>
          <td>{{detailinfo.type}}</td>
          <td>{{detailinfo.generation}}</td>
      </tr>
      {% endfor %}
  </table><br>

    <form  method="POST">
        New amount: <input type="number" name="amount"><br>
        New type: <input type="radio" name="type" value="rice" checked="checked"> rice <input type ="radio" name="type" value="sorghum"> sorghum<input type="radio" name="type" value="cotton"> cotton<br>
    <!--    generation: <input type="text" name="generation">-->
        New generation: <input type="radio" name="generation" value="basic seed" checked="checked"> basic seed<input type="radio" name="generation" value="round1"> round1 <input type="radio" name="generation" value="round2"> round2<input type="radio" name="generation" value="hybird">hybird<br>
        <input type="submit" value="Edit" />
    </form>

</body>
</html>
